body {
  background-color: #1f212f;
}

.main {
  position: absolute;
  top: 100px;
  left: 200px;
  height: 400px;
  width: 600px;
}

.topbar {
  width: 100%;
  height: 20px;
  background-color: #fefefe;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  margin-left: 5px;
} 